<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cs442.group5.feedback"
          android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".utils.Libs"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--
                Accepts URIs that begin with "http://recipe-app.com/recipe"
                adb shell am start -a android.intent.action.VIEW \-d "http://ec2-52-91-230-7.compute-1.amazonaws.com/store/1" com.cs442.group5.feedback
                 http://ec2-52-91-230-7.compute-1.amazonaws.com/recipe/1
                -->
                <data
                    android:host="@string/host"
                    android:pathPrefix="@string/path"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".NewFormActivity">
        </activity>
        <activity
            android:name=".NewStoreActivity"
            android:label="New Store"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".TermsNConditions"
            android:label="@string/title_activity_terms_nconditions"
            android:parentActivityName=".DashBoardActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:parentActivityName=".DashBoardActivity"/>
        <activity
            android:name=".StoreActivity"
            android:parentActivityName=".DashBoardActivity"/>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity"/>
        <activity android:name=".FormPreviewActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c56305f7af11ae5fc68dad35bcd9771606689805"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MyStoreActivity"
            android:label="@string/title_activity_my_store"
            android:parentActivityName=".DashBoardActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".DirectionsActivity"
            android:label="@string/title_activity_directions"
            android:theme="@style/AppTheme">
        </activity>

        <service android:name=".notification.MyFirebaseNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".MoreReviewsActivity"
            android:label="@string/title_activity_more_reviews"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_more_reviews"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intro"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.Intro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs442.group5.feedback.LoginActivity"/>
        </activity>
        <activity
            android:name=".MyStorePageActivity"
            android:parentActivityName=".MyStoreActivity">
        </activity>

        <service
            android:name=".notification.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.FormIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".service.ReviewIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".service.StoreIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".service.UserIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".BookMarkActivity"
            android:label="@string/title_activity_book_mark"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".Test">
        </activity>
        <activity android:name=".Test2">
        </activity>
        <activity
            android:name=".AddReviewActivity"
            android:label="@string/title_activity_add_review"
            android:parentActivityName=".StoreActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs442.group5.feedback.StoreActivity"/>
        </activity>
        <activity
            android:name=".QRReader"
            android:label="@string/title_activity_qrreader"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>